SIDEBAR_WIDTH = 200px

.container
  height 100%
  
  .sidebar
    display inline-block
    width SIDEBAR_WIDTH
    height 100%
    border-right 1px solid #000
    
    nav
      padding-left 16px
      
      li
        list-style none
    
    .logout
      margin-top 36px
      
      &:hover
        cursor pointer
        color #888

  .container
    position absolute
    left SIDEBAR_WIDTH
    right 0
    top 0
    bottom 0